{% extends "layout.html" %}

{% block content %}
    <h1>UPDATE</h1>
    <form action="/{{todos['_id']}}/update/" method="POST">
        
        <label for="title">Title</label>
        <p><input type="text" name="title" value="{{todos['title']}}" required></p>
        <label for="description">Description</label>
        <p><input type="text" name="description" value="{{todos['description']}}" required></p>
        <label for="completed">Completed</label>
        <p><select name="completed" id="completed" required>

            <option value="True">Completed</option>
            <option value="False">Uncompleted</option>

        </select></p>

        <input type="submit">

    </form>

    

{% endblock %}